@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-oxanium), sans-serif;
  user-select: none;
}

h2 {
  color: #fff;
  font-family: var(--font-roboto-slab), serif;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
